<%-include('../include/head.ejs')%>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
   <%-include('../include/navigation.ejs')%>
    <main class="main-section-login">
       
        <div class="main-container">
            <% if(errorMessage) { %>
                <div class="error-message"><%= errorMessage %></div>
            <% } %>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
            <div class="form-control">
                <label for="Password">Password</label> 
                <input type="password" name="password" id="password"  required>

            </div>
            <input type="hidden"  name="passwordToken" value="<%=passwordToken%>">
            <input type="hidden"  name="userId" value="<%=userId%>">
            <input type="hidden"  name="_csrf" value="<%=csrfToken%>">

            <button type="submit">Update !!</button>

        </form>
    </div>

    </main>
    </body>
<%-include('../include/end.ejs')%>